<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grBHA</key>
	<dict>
		<key>grYAc2</key>
		<integer>60</integer>
	</dict>
	<key>grCHA</key>
	<dict>
		<key>grYAc2</key>
		<integer>90</integer>
	</dict>
	<key>grDA</key>
	<dict>
		<key>grYAc2</key>
		<integer>130</integer>
	</dict>
	<key>grDDA</key>
	<dict>
		<key>grYAc2</key>
		<integer>55</integer>
	</dict>
	<key>grDDHA</key>
	<dict>
		<key>grYAc2</key>
		<integer>55</integer>
	</dict>
	<key>grJHA</key>
	<dict>
		<key>grYAc2</key>
		<integer>90</integer>
	</dict>
	<key>grKA</key>
	<dict>
		<key>grYAc2</key>
		<integer>25</integer>
	</dict>
	<key>grLA</key>
	<dict>
		<key>grYAc2</key>
		<integer>55</integer>
	</dict>
	<key>grLxA</key>
	<dict>
		<key>grYAc2</key>
		<integer>55</integer>
	</dict>
	<key>grNA</key>
	<dict>
		<key>grYAc2</key>
		<integer>85</integer>
	</dict>
	<key>grNGA</key>
	<dict>
		<key>grYAc2</key>
		<integer>80</integer>
	</dict>
	<key>grNNA</key>
	<dict>
		<key>grYAc2</key>
		<integer>100</integer>
	</dict>
	<key>grNYA</key>
	<dict>
		<key>grYAc2</key>
		<integer>60</integer>
	</dict>
	<key>grPHA</key>
	<dict>
		<key>grYAc2</key>
		<integer>50</integer>
	</dict>
	<key>grPHxA</key>
	<dict>
		<key>grYAc2</key>
		<integer>50</integer>
	</dict>
	<key>grRRA</key>
	<dict>
		<key>grYAc2</key>
		<integer>60</integer>
	</dict>
	<key>grTA</key>
	<dict>
		<key>grYAc2</key>
		<integer>60</integer>
	</dict>
	<key>grTTA</key>
	<dict>
		<key>grYAc2</key>
		<integer>130</integer>
	</dict>
	<key>grTTHA</key>
	<dict>
		<key>grYAc2</key>
		<integer>75</integer>
	</dict>
	<key>grVA</key>
	<dict>
		<key>grYAc2</key>
		<integer>60</integer>
	</dict>
</dict>
</plist>
