<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>R_p</key>
	<string>R__p.glif</string>
	<key>_0181</key>
	<string>_0181.glif</string>
	<key>_0254</key>
	<string>_0254.glif</string>
	<key>_129</key>
	<string>_129.glif</string>
	<key>_130</key>
	<string>_130.glif</string>
	<key>_131</key>
	<string>_131.glif</string>
	<key>_133</key>
	<string>_133.glif</string>
	<key>_196</key>
	<string>_196.glif</string>
	<key>_197</key>
	<string>_197.glif</string>
	<key>_199</key>
	<string>_199.glif</string>
	<key>_200</key>
	<string>_200.glif</string>
	<key>_203</key>
	<string>_203.glif</string>
	<key>afii301</key>
	<string>afii301.glif</string>
	<key>afii61664</key>
	<string>afii61664.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.001</key>
	<string>ampersand_001.glif</string>
	<key>ampersand.002</key>
	<string>ampersand_002.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c996</key>
	<string>c996.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colon.001</key>
	<string>colon_001.glif</string>
	<key>colon.alt</key>
	<string>colon_alt.glif</string>
	<key>colon.alt.001</key>
	<string>colon_alt_001.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma.001</key>
	<string>comma_001.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>ellipsis.001</key>
	<string>ellipsis_001.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclam.001</key>
	<string>exclam_001.glif</string>
	<key>exclam.002</key>
	<string>exclam_002.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>headline</key>
	<string>headline.glif</string>
	<key>headline1</key>
	<string>headline1.glif</string>
	<key>headline2</key>
	<string>headline2.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lines</key>
	<string>lines.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period.001</key>
	<string>period_001.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered.001</key>
	<string>periodcentered_001.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>published</key>
	<string>published.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.001</key>
	<string>question_001.glif</string>
	<key>question.002</key>
	<string>question_002.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblleft.001</key>
	<string>quotedblleft_001.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quotedblright.001</key>
	<string>quotedblright_001.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteleft.001</key>
	<string>quoteleft_001.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quoteright.001</key>
	<string>quoteright_001.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>rupee</key>
	<string>rupee.glif</string>
	<key>rupeeIndian</key>
	<string>rupeeI_ndian.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semicolon.001</key>
	<string>semicolon_001.glif</string>
	<key>servicemark</key>
	<string>servicemark.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u0A05_u0A3C</key>
	<string>u0A_05_u0A_3C_.glif</string>
	<key>u0A06_u0A3C</key>
	<string>u0A_06_u0A_3C_.glif</string>
	<key>u0A07_u0A3C</key>
	<string>u0A_07_u0A_3C_.glif</string>
	<key>u0A08_u0A3C</key>
	<string>u0A_08_u0A_3C_.glif</string>
	<key>u0A09_u0A02</key>
	<string>u0A_09_u0A_02.glif</string>
	<key>u0A09_u0A3C</key>
	<string>u0A_09_u0A_3C_.glif</string>
	<key>u0A09_u0A71</key>
	<string>u0A_09_u0A_71.glif</string>
	<key>u0A0A_u0A02</key>
	<string>u0A_0A__u0A_02.glif</string>
	<key>u0A0A_u0A3C</key>
	<string>u0A_0A__u0A_3C_.glif</string>
	<key>u0A0A_u0A71</key>
	<string>u0A_0A__u0A_71.glif</string>
	<key>u0A0F_u0A3C</key>
	<string>u0A_0F__u0A_3C_.glif</string>
	<key>u0A10_u0A3C</key>
	<string>u0A_10_u0A_3C_.glif</string>
	<key>u0A13_u0A02</key>
	<string>u0A_13_u0A_02.glif</string>
	<key>u0A13_u0A3C</key>
	<string>u0A_13_u0A_3C_.glif</string>
	<key>u0A13_u0A71</key>
	<string>u0A_13_u0A_71.glif</string>
	<key>u0A14_u0A3C</key>
	<string>u0A_14_u0A_3C_.glif</string>
	<key>u0A15_u0A3C</key>
	<string>u0A_15_u0A_3C_.glif</string>
	<key>u0A15_u0A3C_u0A4D</key>
	<string>u0A_15_u0A_3C__u0A_4D_.glif</string>
	<key>u0A15_u0A4D</key>
	<string>u0A_15_u0A_4D_.glif</string>
	<key>u0A16_u0A4D</key>
	<string>u0A_16_u0A_4D_.glif</string>
	<key>u0A17_u0A4D</key>
	<string>u0A_17_u0A_4D_.glif</string>
	<key>u0A18_u0A3C</key>
	<string>u0A_18_u0A_3C_.glif</string>
	<key>u0A18_u0A3C_u0A4D</key>
	<string>u0A_18_u0A_3C__u0A_4D_.glif</string>
	<key>u0A18_u0A4D</key>
	<string>u0A_18_u0A_4D_.glif</string>
	<key>u0A19_u0A3C</key>
	<string>u0A_19_u0A_3C_.glif</string>
	<key>u0A19_u0A3C_u0A4D</key>
	<string>u0A_19_u0A_3C__u0A_4D_.glif</string>
	<key>u0A19_u0A4D</key>
	<string>u0A_19_u0A_4D_.glif</string>
	<key>u0A1A_u0A3C</key>
	<string>u0A_1A__u0A_3C_.glif</string>
	<key>u0A1A_u0A3C_u0A4D</key>
	<string>u0A_1A__u0A_3C__u0A_4D_.glif</string>
	<key>u0A1A_u0A4D</key>
	<string>u0A_1A__u0A_4D_.glif</string>
	<key>u0A1B_u0A3C</key>
	<string>u0A_1B__u0A_3C_.glif</string>
	<key>u0A1B_u0A3C_u0A4D</key>
	<string>u0A_1B__u0A_3C__u0A_4D_.glif</string>
	<key>u0A1B_u0A4D</key>
	<string>u0A_1B__u0A_4D_.glif</string>
	<key>u0A1C_u0A4D</key>
	<string>u0A_1C__u0A_4D_.glif</string>
	<key>u0A1D_u0A3C</key>
	<string>u0A_1D__u0A_3C_.glif</string>
	<key>u0A1D_u0A3C_u0A4D</key>
	<string>u0A_1D__u0A_3C__u0A_4D_.glif</string>
	<key>u0A1D_u0A4D</key>
	<string>u0A_1D__u0A_4D_.glif</string>
	<key>u0A1E_u0A3C</key>
	<string>u0A_1E__u0A_3C_.glif</string>
	<key>u0A1E_u0A3C_u0A4D</key>
	<string>u0A_1E__u0A_3C__u0A_4D_.glif</string>
	<key>u0A1E_u0A4D</key>
	<string>u0A_1E__u0A_4D_.glif</string>
	<key>u0A1F_u0A3C</key>
	<string>u0A_1F__u0A_3C_.glif</string>
	<key>u0A1F_u0A3C_u0A4D</key>
	<string>u0A_1F__u0A_3C__u0A_4D_.glif</string>
	<key>u0A1F_u0A4D</key>
	<string>u0A_1F__u0A_4D_.glif</string>
	<key>u0A20_u0A3C</key>
	<string>u0A_20_u0A_3C_.glif</string>
	<key>u0A20_u0A3C_u0A4D</key>
	<string>u0A_20_u0A_3C__u0A_4D_.glif</string>
	<key>u0A20_u0A4D</key>
	<string>u0A_20_u0A_4D_.glif</string>
	<key>u0A21_u0A4D</key>
	<string>u0A_21_u0A_4D_.glif</string>
	<key>u0A22_u0A3C</key>
	<string>u0A_22_u0A_3C_.glif</string>
	<key>u0A22_u0A3C_u0A4D</key>
	<string>u0A_22_u0A_3C__u0A_4D_.glif</string>
	<key>u0A22_u0A4D</key>
	<string>u0A_22_u0A_4D_.glif</string>
	<key>u0A23_u0A3C</key>
	<string>u0A_23_u0A_3C_.glif</string>
	<key>u0A23_u0A3C_u0A4D</key>
	<string>u0A_23_u0A_3C__u0A_4D_.glif</string>
	<key>u0A23_u0A4D</key>
	<string>u0A_23_u0A_4D_.glif</string>
	<key>u0A24_u0A3C</key>
	<string>u0A_24_u0A_3C_.glif</string>
	<key>u0A24_u0A3C_u0A4D</key>
	<string>u0A_24_u0A_3C__u0A_4D_.glif</string>
	<key>u0A24_u0A4D</key>
	<string>u0A_24_u0A_4D_.glif</string>
	<key>u0A25_u0A3C</key>
	<string>u0A_25_u0A_3C_.glif</string>
	<key>u0A25_u0A3C_u0A4D</key>
	<string>u0A_25_u0A_3C__u0A_4D_.glif</string>
	<key>u0A25_u0A4D</key>
	<string>u0A_25_u0A_4D_.glif</string>
	<key>u0A26_u0A3C</key>
	<string>u0A_26_u0A_3C_.glif</string>
	<key>u0A26_u0A3C_u0A4D</key>
	<string>u0A_26_u0A_3C__u0A_4D_.glif</string>
	<key>u0A26_u0A4D</key>
	<string>u0A_26_u0A_4D_.glif</string>
	<key>u0A27_u0A3C</key>
	<string>u0A_27_u0A_3C_.glif</string>
	<key>u0A27_u0A3C_u0A4D</key>
	<string>u0A_27_u0A_3C__u0A_4D_.glif</string>
	<key>u0A27_u0A4D</key>
	<string>u0A_27_u0A_4D_.glif</string>
	<key>u0A28_u0A3C</key>
	<string>u0A_28_u0A_3C_.glif</string>
	<key>u0A28_u0A3C_u0A4D</key>
	<string>u0A_28_u0A_3C__u0A_4D_.glif</string>
	<key>u0A28_u0A4D</key>
	<string>u0A_28_u0A_4D_.glif</string>
	<key>u0A2A_u0A3C</key>
	<string>u0A_2A__u0A_3C_.glif</string>
	<key>u0A2A_u0A3C_u0A4D</key>
	<string>u0A_2A__u0A_3C__u0A_4D_.glif</string>
	<key>u0A2A_u0A4D</key>
	<string>u0A_2A__u0A_4D_.glif</string>
	<key>u0A2B_u0A4D</key>
	<string>u0A_2B__u0A_4D_.glif</string>
	<key>u0A2C_u0A3C</key>
	<string>u0A_2C__u0A_3C_.glif</string>
	<key>u0A2C_u0A3C_u0A4D</key>
	<string>u0A_2C__u0A_3C__u0A_4D_.glif</string>
	<key>u0A2C_u0A4D</key>
	<string>u0A_2C__u0A_4D_.glif</string>
	<key>u0A2D_u0A3C</key>
	<string>u0A_2D__u0A_3C_.glif</string>
	<key>u0A2D_u0A3C_u0A4D</key>
	<string>u0A_2D__u0A_3C__u0A_4D_.glif</string>
	<key>u0A2D_u0A4D</key>
	<string>u0A_2D__u0A_4D_.glif</string>
	<key>u0A2E_u0A3C</key>
	<string>u0A_2E__u0A_3C_.glif</string>
	<key>u0A2E_u0A3C_u0A4D</key>
	<string>u0A_2E__u0A_3C__u0A_4D_.glif</string>
	<key>u0A2E_u0A4D</key>
	<string>u0A_2E__u0A_4D_.glif</string>
	<key>u0A2F_u0A3C</key>
	<string>u0A_2F__u0A_3C_.glif</string>
	<key>u0A2F_u0A3C_u0A4D</key>
	<string>u0A_2F__u0A_3C__u0A_4D_.glif</string>
	<key>u0A2F_u0A4D</key>
	<string>u0A_2F__u0A_4D_.glif</string>
	<key>u0A30_u0A3C</key>
	<string>u0A_30_u0A_3C_.glif</string>
	<key>u0A30_u0A3C_u0A4D</key>
	<string>u0A_30_u0A_3C__u0A_4D_.glif</string>
	<key>u0A30_u0A4D</key>
	<string>u0A_30_u0A_4D_.glif</string>
	<key>u0A30_u0A4D_u0A41</key>
	<string>u0A_30_u0A_4D__u0A_41.glif</string>
	<key>u0A30_u0A4D_u0A42</key>
	<string>u0A_30_u0A_4D__u0A_42.glif</string>
	<key>u0A30_u0A4D_u0A4D</key>
	<string>u0A_30_u0A_4D__u0A_4D_.glif</string>
	<key>u0A32_u0A4D</key>
	<string>u0A_32_u0A_4D_.glif</string>
	<key>u0A33_u0A4D</key>
	<string>u0A_33_u0A_4D_.glif</string>
	<key>u0A35_u0A3C</key>
	<string>u0A_35_u0A_3C_.glif</string>
	<key>u0A35_u0A3C_u0A4D</key>
	<string>u0A_35_u0A_3C__u0A_4D_.glif</string>
	<key>u0A35_u0A4D</key>
	<string>u0A_35_u0A_4D_.glif</string>
	<key>u0A35_u0A4D_u0A41</key>
	<string>u0A_35_u0A_4D__u0A_41.glif</string>
	<key>u0A35_u0A4D_u0A42</key>
	<string>u0A_35_u0A_4D__u0A_42.glif</string>
	<key>u0A35_u0A4D_u0A4D</key>
	<string>u0A_35_u0A_4D__u0A_4D_.glif</string>
	<key>u0A36_u0A4D</key>
	<string>u0A_36_u0A_4D_.glif</string>
	<key>u0A38_u0A3C</key>
	<string>u0A_38_u0A_3C_.glif</string>
	<key>u0A38_u0A3C_u0A4D</key>
	<string>u0A_38_u0A_3C__u0A_4D_.glif</string>
	<key>u0A38_u0A4D</key>
	<string>u0A_38_u0A_4D_.glif</string>
	<key>u0A39_u0A3C</key>
	<string>u0A_39_u0A_3C_.glif</string>
	<key>u0A39_u0A3C_u0A4D</key>
	<string>u0A_39_u0A_3C__u0A_4D_.glif</string>
	<key>u0A39_u0A4D</key>
	<string>u0A_39_u0A_4D_.glif</string>
	<key>u0A39_u0A4D_u0A41</key>
	<string>u0A_39_u0A_4D__u0A_41.glif</string>
	<key>u0A39_u0A4D_u0A42</key>
	<string>u0A_39_u0A_4D__u0A_42.glif</string>
	<key>u0A39_u0A4D_u0A4D</key>
	<string>u0A_39_u0A_4D__u0A_4D_.glif</string>
	<key>u0A3E_u0A02</key>
	<string>u0A_3E__u0A_02.glif</string>
	<key>u0A40_u0A02</key>
	<string>u0A_40_u0A_02.glif</string>
	<key>u0A47.abvs</key>
	<string>u0A_47_abvs.glif</string>
	<key>u0A47_u0A02</key>
	<string>u0A_47_u0A_02.glif</string>
	<key>u0A48.abvs</key>
	<string>u0A_48_abvs.glif</string>
	<key>u0A48_u0A02</key>
	<string>u0A_48_u0A_02.glif</string>
	<key>u0A4B.abvs</key>
	<string>u0A_4B__abvs.glif</string>
	<key>u0A4B_u0A02</key>
	<string>u0A_4B__u0A_02.glif</string>
	<key>u0A4C_u0A02</key>
	<string>u0A_4C__u0A_02.glif</string>
	<key>u0A4C_u0A71</key>
	<string>u0A_4C__u0A_71.glif</string>
	<key>u0A59_u0A4D</key>
	<string>u0A_59_u0A_4D_.glif</string>
	<key>u0A5A_u0A4D</key>
	<string>u0A_5A__u0A_4D_.glif</string>
	<key>u0A5B_u0A4D</key>
	<string>u0A_5B__u0A_4D_.glif</string>
	<key>u0A5C_u0A4D</key>
	<string>u0A_5C__u0A_4D_.glif</string>
	<key>u0A5E_u0A4D</key>
	<string>u0A_5E__u0A_4D_.glif</string>
	<key>u0A71</key>
	<string>u0A_71.glif</string>
	<key>u0A74</key>
	<string>u0A_74.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>uni0964</key>
	<string>uni0964.glif</string>
	<key>uni0964.001</key>
	<string>uni0964_001.glif</string>
	<key>uni0965</key>
	<string>uni0965.glif</string>
	<key>uni0A01</key>
	<string>uni0A_01.glif</string>
	<key>uni0A01.001</key>
	<string>uni0A_01_001.glif</string>
	<key>uni0A02</key>
	<string>uni0A_02.glif</string>
	<key>uni0A02.001</key>
	<string>uni0A_02_001.glif</string>
	<key>uni0A03</key>
	<string>uni0A_03.glif</string>
	<key>uni0A03.001</key>
	<string>uni0A_03_001.glif</string>
	<key>uni0A05</key>
	<string>uni0A_05.glif</string>
	<key>uni0A06</key>
	<string>uni0A_06.glif</string>
	<key>uni0A07</key>
	<string>uni0A_07.glif</string>
	<key>uni0A07.001</key>
	<string>uni0A_07_001.glif</string>
	<key>uni0A07.002</key>
	<string>uni0A_07_002.glif</string>
	<key>uni0A08</key>
	<string>uni0A_08.glif</string>
	<key>uni0A08.001</key>
	<string>uni0A_08_001.glif</string>
	<key>uni0A08.002</key>
	<string>uni0A_08_002.glif</string>
	<key>uni0A09</key>
	<string>uni0A_09.glif</string>
	<key>uni0A0A</key>
	<string>uni0A_0A_.glif</string>
	<key>uni0A0F</key>
	<string>uni0A_0F_.glif</string>
	<key>uni0A0F.001</key>
	<string>uni0A_0F__001.glif</string>
	<key>uni0A0F.002</key>
	<string>uni0A_0F__002.glif</string>
	<key>uni0A0F.003</key>
	<string>uni0A_0F__003.glif</string>
	<key>uni0A0F.004</key>
	<string>uni0A_0F__004.glif</string>
	<key>uni0A10</key>
	<string>uni0A_10.glif</string>
	<key>uni0A10.001</key>
	<string>uni0A_10_001.glif</string>
	<key>uni0A10.002</key>
	<string>uni0A_10_002.glif</string>
	<key>uni0A10.003</key>
	<string>uni0A_10_003.glif</string>
	<key>uni0A10.004</key>
	<string>uni0A_10_004.glif</string>
	<key>uni0A13</key>
	<string>uni0A_13.glif</string>
	<key>uni0A14</key>
	<string>uni0A_14.glif</string>
	<key>uni0A15</key>
	<string>uni0A_15.glif</string>
	<key>uni0A16</key>
	<string>uni0A_16.glif</string>
	<key>uni0A17</key>
	<string>uni0A_17.glif</string>
	<key>uni0A18</key>
	<string>uni0A_18.glif</string>
	<key>uni0A19</key>
	<string>uni0A_19.glif</string>
	<key>uni0A1A</key>
	<string>uni0A_1A_.glif</string>
	<key>uni0A1B</key>
	<string>uni0A_1B_.glif</string>
	<key>uni0A1C</key>
	<string>uni0A_1C_.glif</string>
	<key>uni0A1D</key>
	<string>uni0A_1D_.glif</string>
	<key>uni0A1E</key>
	<string>uni0A_1E_.glif</string>
	<key>uni0A1F</key>
	<string>uni0A_1F_.glif</string>
	<key>uni0A20</key>
	<string>uni0A_20.glif</string>
	<key>uni0A21</key>
	<string>uni0A_21.glif</string>
	<key>uni0A22</key>
	<string>uni0A_22.glif</string>
	<key>uni0A23</key>
	<string>uni0A_23.glif</string>
	<key>uni0A24</key>
	<string>uni0A_24.glif</string>
	<key>uni0A25</key>
	<string>uni0A_25.glif</string>
	<key>uni0A26</key>
	<string>uni0A_26.glif</string>
	<key>uni0A27</key>
	<string>uni0A_27.glif</string>
	<key>uni0A28</key>
	<string>uni0A_28.glif</string>
	<key>uni0A2A</key>
	<string>uni0A_2A_.glif</string>
	<key>uni0A2B</key>
	<string>uni0A_2B_.glif</string>
	<key>uni0A2C</key>
	<string>uni0A_2C_.glif</string>
	<key>uni0A2D</key>
	<string>uni0A_2D_.glif</string>
	<key>uni0A2E</key>
	<string>uni0A_2E_.glif</string>
	<key>uni0A2F</key>
	<string>uni0A_2F_.glif</string>
	<key>uni0A30</key>
	<string>uni0A_30.glif</string>
	<key>uni0A32</key>
	<string>uni0A_32.glif</string>
	<key>uni0A33</key>
	<string>uni0A_33.glif</string>
	<key>uni0A35</key>
	<string>uni0A_35.glif</string>
	<key>uni0A36</key>
	<string>uni0A_36.glif</string>
	<key>uni0A38</key>
	<string>uni0A_38.glif</string>
	<key>uni0A39</key>
	<string>uni0A_39.glif</string>
	<key>uni0A3C</key>
	<string>uni0A_3C_.glif</string>
	<key>uni0A3C.001</key>
	<string>uni0A_3C__001.glif</string>
	<key>uni0A3E</key>
	<string>uni0A_3E_.glif</string>
	<key>uni0A3F</key>
	<string>uni0A_3F_.glif</string>
	<key>uni0A3F.001</key>
	<string>uni0A_3F__001.glif</string>
	<key>uni0A3F.002</key>
	<string>uni0A_3F__002.glif</string>
	<key>uni0A40</key>
	<string>uni0A_40.glif</string>
	<key>uni0A40.001</key>
	<string>uni0A_40_001.glif</string>
	<key>uni0A40.002</key>
	<string>uni0A_40_002.glif</string>
	<key>uni0A41</key>
	<string>uni0A_41.glif</string>
	<key>uni0A42</key>
	<string>uni0A_42.glif</string>
	<key>uni0A47</key>
	<string>uni0A_47.glif</string>
	<key>uni0A47.001</key>
	<string>uni0A_47_001.glif</string>
	<key>uni0A47.002</key>
	<string>uni0A_47_002.glif</string>
	<key>uni0A47.003</key>
	<string>uni0A_47_003.glif</string>
	<key>uni0A47.004</key>
	<string>uni0A_47_004.glif</string>
	<key>uni0A48</key>
	<string>uni0A_48.glif</string>
	<key>uni0A48.001</key>
	<string>uni0A_48_001.glif</string>
	<key>uni0A48.002</key>
	<string>uni0A_48_002.glif</string>
	<key>uni0A48.003</key>
	<string>uni0A_48_003.glif</string>
	<key>uni0A48.004</key>
	<string>uni0A_48_004.glif</string>
	<key>uni0A4B</key>
	<string>uni0A_4B_.glif</string>
	<key>uni0A4B.001</key>
	<string>uni0A_4B__001.glif</string>
	<key>uni0A4B.002</key>
	<string>uni0A_4B__002.glif</string>
	<key>uni0A4C</key>
	<string>uni0A_4C_.glif</string>
	<key>uni0A4D</key>
	<string>uni0A_4D_.glif</string>
	<key>uni0A51</key>
	<string>uni0A_51.glif</string>
	<key>uni0A59</key>
	<string>uni0A_59.glif</string>
	<key>uni0A5A</key>
	<string>uni0A_5A_.glif</string>
	<key>uni0A5B</key>
	<string>uni0A_5B_.glif</string>
	<key>uni0A5C</key>
	<string>uni0A_5C_.glif</string>
	<key>uni0A5E</key>
	<string>uni0A_5E_.glif</string>
	<key>uni0A66</key>
	<string>uni0A_66.glif</string>
	<key>uni0A67</key>
	<string>uni0A_67.glif</string>
	<key>uni0A68</key>
	<string>uni0A_68.glif</string>
	<key>uni0A69</key>
	<string>uni0A_69.glif</string>
	<key>uni0A6A</key>
	<string>uni0A_6A_.glif</string>
	<key>uni0A6A.001</key>
	<string>uni0A_6A__001.glif</string>
	<key>uni0A6B</key>
	<string>uni0A_6B_.glif</string>
	<key>uni0A6C</key>
	<string>uni0A_6C_.glif</string>
	<key>uni0A6D</key>
	<string>uni0A_6D_.glif</string>
	<key>uni0A6E</key>
	<string>uni0A_6E_.glif</string>
	<key>uni0A6F</key>
	<string>uni0A_6F_.glif</string>
	<key>uni0A70</key>
	<string>uni0A_70.glif</string>
	<key>uni0A70.001</key>
	<string>uni0A_70_001.glif</string>
	<key>uni0A70.002</key>
	<string>uni0A_70_002.glif</string>
	<key>uni0A70.011</key>
	<string>uni0A_70_011.glif</string>
	<key>uni0A71</key>
	<string>uni0A_71.glif</string>
	<key>uni0A71.001</key>
	<string>uni0A_71_001.glif</string>
	<key>uni0A72</key>
	<string>uni0A_72.glif</string>
	<key>uni0A73</key>
	<string>uni0A_73.glif</string>
	<key>uni0A74</key>
	<string>uni0A_74.glif</string>
	<key>uni25CC</key>
	<string>uni25C_C_.glif</string>
	<key>uni25CC.001</key>
	<string>uni25C_C__001.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
