<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.alt</key>
	<string>A_.alt.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Aacute.alt</key>
	<string>Aacute_.alt.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Abreve.alt</key>
	<string>Abreve_.alt.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Acircumflex.alt</key>
	<string>Acircumflex_.alt.glif</string>
	<key>Acircumflexhookabove</key>
	<string>Acircumflexhookabove_.glif</string>
	<key>Acircumflexhookabove.alt</key>
	<string>Acircumflexhookabove_.alt.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Adieresis.alt</key>
	<string>Adieresis_.alt.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Agrave.alt</key>
	<string>Agrave_.alt.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Amacron.alt</key>
	<string>Amacron_.alt.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aogonek.alt</key>
	<string>Aogonek_.alt.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Aring.alt</key>
	<string>Aring_.alt.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>Atilde.alt</key>
	<string>Atilde_.alt.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Be-cy</key>
	<string>Be-cy_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Cdotaccent</key>
	<string>Cdotaccent_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>De-cy</key>
	<string>De-cy_.glif</string>
	<key>Delta</key>
	<string>Delta_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Ef-cy</key>
	<string>Ef-cy_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eng</key>
	<string>Eng_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.alt</key>
	<string>G_.alt.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>Gbreve.alt</key>
	<string>Gbreve_.alt.glif</string>
	<key>Gcommaaccent</key>
	<string>Gcommaaccent_.glif</string>
	<key>Gcommaaccent.alt</key>
	<string>Gcommaaccent_.alt.glif</string>
	<key>Gdotaccent</key>
	<string>Gdotaccent_.glif</string>
	<key>Gdotaccent.alt</key>
	<string>Gdotaccent_.alt.glif</string>
	<key>Germandbls</key>
	<string>Germandbls_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>Hbar_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lcommaaccent</key>
	<string>Lcommaaccent_.glif</string>
	<key>Ldot</key>
	<string>Ldot_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ncommaaccent</key>
	<string>Ncommaaccent_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohm</key>
	<string>Ohm_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Omega</key>
	<string>Omega_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.swsh</key>
	<string>Q_.swsh.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.swsh</key>
	<string>R_.swsh.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Racute.swsh</key>
	<string>Racute_.swsh.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rcaron.swsh</key>
	<string>Rcaron_.swsh.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>Rcommaaccent.swsh</key>
	<string>Rcommaaccent_.swsh.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Scommaaccent</key>
	<string>Scommaaccent_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tbar</key>
	<string>Tbar_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Tcedilla</key>
	<string>Tcedilla_.glif</string>
	<key>Tcommaaccent</key>
	<string>Tcommaaccent_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.bold</key>
	<string>W_.bold.glif</string>
	<key>Wacute</key>
	<string>Wacute_.glif</string>
	<key>Wcircumflex</key>
	<string>Wcircumflex_.glif</string>
	<key>Wdieresis</key>
	<string>Wdieresis_.glif</string>
	<key>Wgrave</key>
	<string>Wgrave_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ycircumflex</key>
	<string>Ycircumflex_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ygrave</key>
	<string>Ygrave_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>Zhe-cy</key>
	<string>Zhe-cy_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt</key>
	<string>a.alt.glif</string>
	<key>a.alt2</key>
	<string>a.alt2.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.alt</key>
	<string>aacute.alt.glif</string>
	<key>aacute.alt2</key>
	<string>aacute.alt2.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreve.alt</key>
	<string>abreve.alt.glif</string>
	<key>abreve.alt2</key>
	<string>abreve.alt2.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.alt</key>
	<string>acircumflex.alt.glif</string>
	<key>acircumflex.alt2</key>
	<string>acircumflex.alt2.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.alt</key>
	<string>adieresis.alt.glif</string>
	<key>adieresis.alt2</key>
	<string>adieresis.alt2.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>afraid</key>
	<string>afraid.glif</string>
	<key>afraid.rev</key>
	<string>afraid.rev.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.alt</key>
	<string>agrave.alt.glif</string>
	<key>agrave.alt2</key>
	<string>agrave.alt2.glif</string>
	<key>am</key>
	<string>am.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.alt</key>
	<string>amacron.alt.glif</string>
	<key>amacron.alt2</key>
	<string>amacron.alt2.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.swsh</key>
	<string>ampersand.swsh.glif</string>
	<key>angry</key>
	<string>angry.glif</string>
	<key>angry.rev</key>
	<string>angry.rev.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.alt</key>
	<string>aogonek.alt.glif</string>
	<key>aogonek.alt2</key>
	<string>aogonek.alt2.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.alt</key>
	<string>aring.alt.glif</string>
	<key>aring.alt2</key>
	<string>aring.alt2.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.alt</key>
	<string>atilde.alt.glif</string>
	<key>atilde.alt2</key>
	<string>atilde.alt2.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bulletoperator</key>
	<string>bulletoperator.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>caroncomb.alt</key>
	<string>caroncomb.alt.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccentcomb</key>
	<string>commaaccentcomb.glif</string>
	<key>commaturnedabovecomb</key>
	<string>commaturnedabovecomb.glif</string>
	<key>commaturnedmod</key>
	<string>commaturnedmod.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.alt</key>
	<string>d.alt.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>danda</key>
	<string>danda.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcaron.alt</key>
	<string>dcaron.alt.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dcroat.alt</key>
	<string>dcroat.alt.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>disgusted</key>
	<string>disgusted.glif</string>
	<key>disgusted.rev</key>
	<string>disgusted.rev.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>dottedcircle</key>
	<string>dottedcircle.glif</string>
	<key>doubledanda</key>
	<string>doubledanda.glif</string>
	<key>doubleprimemod</key>
	<string>doubleprimemod.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.alt</key>
	<string>f.alt.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt</key>
	<string>g.alt.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gbreve.alt</key>
	<string>gbreve.alt.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gcommaaccent.alt</key>
	<string>gcommaaccent.alt.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>gdotaccent.alt</key>
	<string>gdotaccent.alt.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grA</key>
	<string>grA_.glif</string>
	<key>grAA</key>
	<string>grAA_.glif</string>
	<key>grAI</key>
	<string>grAI_.glif</string>
	<key>grAU</key>
	<string>grAU_.glif</string>
	<key>grAdakbindi</key>
	<string>grAdakbindi_.glif</string>
	<key>grAddak</key>
	<string>grAddak_.glif</string>
	<key>grAddak.alt</key>
	<string>grAddak_.alt.glif</string>
	<key>grAddak.alt2</key>
	<string>grAddak_.alt2.glif</string>
	<key>grBA</key>
	<string>grBA_.glif</string>
	<key>grBA_RAc2</key>
	<string>grBA__RAc2_.glif</string>
	<key>grBHA</key>
	<string>grBHA_.glif</string>
	<key>grBHA_RAc2</key>
	<string>grBHA__RAc2_.glif</string>
	<key>grBindi</key>
	<string>grBindi_.glif</string>
	<key>grBindi.alt</key>
	<string>grBindi_.alt.glif</string>
	<key>grBindi.alt2</key>
	<string>grBindi_.alt2.glif</string>
	<key>grCA</key>
	<string>grCA_.glif</string>
	<key>grCA_RAc2</key>
	<string>grCA__RAc2_.glif</string>
	<key>grCHA</key>
	<string>grCHA_.glif</string>
	<key>grCHA_RAc2</key>
	<string>grCHA__RAc2_.glif</string>
	<key>grDA</key>
	<string>grDA_.glif</string>
	<key>grDA_RAc2</key>
	<string>grDA__RAc2_.glif</string>
	<key>grDDA</key>
	<string>grDDA_.glif</string>
	<key>grDDA_RAc2</key>
	<string>grDDA__RAc2_.glif</string>
	<key>grDDHA</key>
	<string>grDDHA_.glif</string>
	<key>grDDHA_RAc2</key>
	<string>grDDHA__RAc2_.glif</string>
	<key>grDDxA</key>
	<string>grDDxA_.glif</string>
	<key>grDDxA_RAc2</key>
	<string>grDDxA__RAc2_.glif</string>
	<key>grDHA</key>
	<string>grDHA_.glif</string>
	<key>grDHA_RAc2</key>
	<string>grDHA__RAc2_.glif</string>
	<key>grEE</key>
	<string>grEE_.glif</string>
	<key>grEight</key>
	<string>grEight_.glif</string>
	<key>grEkonkar</key>
	<string>grEkonkar_.glif</string>
	<key>grFive</key>
	<string>grFive_.glif</string>
	<key>grFour</key>
	<string>grFour_.glif</string>
	<key>grGA</key>
	<string>grGA_.glif</string>
	<key>grGA_RAc2</key>
	<string>grGA__RAc2_.glif</string>
	<key>grGHA</key>
	<string>grGHA_.glif</string>
	<key>grGHA_RAc2</key>
	<string>grGHA__RAc2_.glif</string>
	<key>grGxA</key>
	<string>grGxA_.glif</string>
	<key>grGxA_RAc2</key>
	<string>grGxA__RAc2_.glif</string>
	<key>grHA</key>
	<string>grHA_.glif</string>
	<key>grHA_RAc2</key>
	<string>grHA__RAc2_.glif</string>
	<key>grHAc2</key>
	<string>grHAc2_.glif</string>
	<key>grI</key>
	<string>grI_.glif</string>
	<key>grII</key>
	<string>grII_.glif</string>
	<key>grIri</key>
	<string>grIri_.glif</string>
	<key>grJA</key>
	<string>grJA_.glif</string>
	<key>grJA_RAc2</key>
	<string>grJA__RAc2_.glif</string>
	<key>grJHA</key>
	<string>grJHA_.glif</string>
	<key>grJHA_RAc2</key>
	<string>grJHA__RAc2_.glif</string>
	<key>grJxA</key>
	<string>grJxA_.glif</string>
	<key>grJxA_RAc2</key>
	<string>grJxA__RAc2_.glif</string>
	<key>grKA</key>
	<string>grKA_.glif</string>
	<key>grKA_RAc2</key>
	<string>grKA__RAc2_.glif</string>
	<key>grKHA</key>
	<string>grKHA_.glif</string>
	<key>grKHA_RAc2</key>
	<string>grKHA__RAc2_.glif</string>
	<key>grKHxA</key>
	<string>grKHxA_.glif</string>
	<key>grKHxA_RAc2</key>
	<string>grKHxA__RAc2_.glif</string>
	<key>grLA</key>
	<string>grLA_.glif</string>
	<key>grLA_RAc2</key>
	<string>grLA__RAc2_.glif</string>
	<key>grLxA</key>
	<string>grLxA_.glif</string>
	<key>grLxA_RAc2</key>
	<string>grLxA__RAc2_.glif</string>
	<key>grMA</key>
	<string>grMA_.glif</string>
	<key>grMA_RAc2</key>
	<string>grMA__RAc2_.glif</string>
	<key>grNA</key>
	<string>grNA_.glif</string>
	<key>grNA_RAc2</key>
	<string>grNA__RAc2_.glif</string>
	<key>grNGA</key>
	<string>grNGA_.glif</string>
	<key>grNGA_RAc2</key>
	<string>grNGA__RAc2_.glif</string>
	<key>grNNA</key>
	<string>grNNA_.glif</string>
	<key>grNNA_RAc2</key>
	<string>grNNA__RAc2_.glif</string>
	<key>grNYA</key>
	<string>grNYA_.glif</string>
	<key>grNYA_RAc2</key>
	<string>grNYA__RAc2_.glif</string>
	<key>grNine</key>
	<string>grNine_.glif</string>
	<key>grNukta</key>
	<string>grNukta_.glif</string>
	<key>grOO</key>
	<string>grOO_.glif</string>
	<key>grOne</key>
	<string>grOne_.glif</string>
	<key>grPA</key>
	<string>grPA_.glif</string>
	<key>grPA_RAc2</key>
	<string>grPA__RAc2_.glif</string>
	<key>grPHA</key>
	<string>grPHA_.glif</string>
	<key>grPHA_RAc2</key>
	<string>grPHA__RAc2_.glif</string>
	<key>grPHxA</key>
	<string>grPHxA_.glif</string>
	<key>grPHxA_RAc2</key>
	<string>grPHxA__RAc2_.glif</string>
	<key>grRA</key>
	<string>grRA_.glif</string>
	<key>grRA_RAc2</key>
	<string>grRA__RAc2_.glif</string>
	<key>grRAc2</key>
	<string>grRAc2_.glif</string>
	<key>grRRA</key>
	<string>grRRA_.glif</string>
	<key>grRRA_RAc2</key>
	<string>grRRA__RAc2_.glif</string>
	<key>grSA</key>
	<string>grSA_.glif</string>
	<key>grSA_RAc2</key>
	<string>grSA__RAc2_.glif</string>
	<key>grSeven</key>
	<string>grSeven_.glif</string>
	<key>grSix</key>
	<string>grSix_.glif</string>
	<key>grSxA</key>
	<string>grSxA_.glif</string>
	<key>grSxA_RAc2</key>
	<string>grSxA__RAc2_.glif</string>
	<key>grTA</key>
	<string>grTA_.glif</string>
	<key>grTA_RAc2</key>
	<string>grTA__RAc2_.glif</string>
	<key>grTHA</key>
	<string>grTHA_.glif</string>
	<key>grTHA_RAc2</key>
	<string>grTHA__RAc2_.glif</string>
	<key>grTTA</key>
	<string>grTTA_.glif</string>
	<key>grTTA_RAc2</key>
	<string>grTTA__RAc2_.glif</string>
	<key>grTTHA</key>
	<string>grTTHA_.glif</string>
	<key>grTTHA_RAc2</key>
	<string>grTTHA__RAc2_.glif</string>
	<key>grThree</key>
	<string>grThree_.glif</string>
	<key>grTippi</key>
	<string>grTippi_.glif</string>
	<key>grTippi.alt</key>
	<string>grTippi_.alt.glif</string>
	<key>grTippi.alt2</key>
	<string>grTippi_.alt2.glif</string>
	<key>grTwo</key>
	<string>grTwo_.glif</string>
	<key>grU</key>
	<string>grU_.glif</string>
	<key>grUU</key>
	<string>grUU_.glif</string>
	<key>grUdaat</key>
	<string>grUdaat_.glif</string>
	<key>grUra</key>
	<string>grUra_.glif</string>
	<key>grVA</key>
	<string>grVA_.glif</string>
	<key>grVA_RAc2</key>
	<string>grVA__RAc2_.glif</string>
	<key>grVAc2</key>
	<string>grVAc2_.glif</string>
	<key>grVirama</key>
	<string>grVirama_.glif</string>
	<key>grVisarga</key>
	<string>grVisarga_.glif</string>
	<key>grYA</key>
	<string>grYA_.glif</string>
	<key>grYA_RAc2</key>
	<string>grYA__RAc2_.glif</string>
	<key>grYAc2</key>
	<string>grYAc2_.glif</string>
	<key>grYakash</key>
	<string>grYakash_.glif</string>
	<key>grZero</key>
	<string>grZero_.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>grmAA</key>
	<string>grmAA_.glif</string>
	<key>grmAI</key>
	<string>grmAI_.glif</string>
	<key>grmAI_Bindi</key>
	<string>grmAI__Bindi_.glif</string>
	<key>grmAU</key>
	<string>grmAU_.glif</string>
	<key>grmAU_Bindi</key>
	<string>grmAU__Bindi_.glif</string>
	<key>grmEE</key>
	<string>grmEE_.glif</string>
	<key>grmEE_Bindi</key>
	<string>grmEE__Bindi_.glif</string>
	<key>grmI</key>
	<string>grmI_.glif</string>
	<key>grmII</key>
	<string>grmII_.glif</string>
	<key>grmII_Bindi</key>
	<string>grmII__Bindi_.glif</string>
	<key>grmOO</key>
	<string>grmOO_.glif</string>
	<key>grmOO.alt</key>
	<string>grmOO_.alt.glif</string>
	<key>grmOO_Bindi</key>
	<string>grmOO__Bindi_.glif</string>
	<key>grmU</key>
	<string>grmU_.glif</string>
	<key>grmU.alt</key>
	<string>grmU_.alt.glif</string>
	<key>grmUU</key>
	<string>grmUU_.glif</string>
	<key>grmUU.alt</key>
	<string>grmUU_.alt.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>happy</key>
	<string>happy.glif</string>
	<key>happy.rev</key>
	<string>happy.rev.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hookabovecomb</key>
	<string>hookabovecomb.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotaccent</key>
	<string>idotaccent.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>increment</key>
	<string>increment.glif</string>
	<key>indianrupee</key>
	<string>indianrupee.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.alt</key>
	<string>k.alt.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kcommaaccent.alt</key>
	<string>kcommaaccent.alt.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>liraTurkish</key>
	<string>liraTurkish_.glif</string>
	<key>literSign</key>
	<string>literSign_.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>micro</key>
	<string>micro.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>neutral</key>
	<string>neutral.glif</string>
	<key>neutral.rev</key>
	<string>neutral.rev.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>primemod</key>
	<string>primemod.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quotereversed</key>
	<string>quotereversed.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>sad</key>
	<string>sad.glif</string>
	<key>sad.rev</key>
	<string>sad.rev.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>schwa</key>
	<string>schwa.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>servicemark</key>
	<string>servicemark.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.alt</key>
	<string>seven.alt.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slashlongcomb</key>
	<string>slashlongcomb.glif</string>
	<key>slashshortcomb</key>
	<string>slashshortcomb.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>strokeshortcomb</key>
	<string>strokeshortcomb.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>surprised</key>
	<string>surprised.glif</string>
	<key>surprised.rev</key>
	<string>surprised.rev.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.alt</key>
	<string>t.alt.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tbar.alt</key>
	<string>tbar.alt.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcaron.alt</key>
	<string>tcaron.alt.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcedilla.alt</key>
	<string>tcedilla.alt.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>tcommaaccent.alt</key>
	<string>tcommaaccent.alt.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.alt</key>
	<string>two.alt.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.alt</key>
	<string>u.alt.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>uacute.alt</key>
	<string>uacute.alt.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>ucircumflex.alt</key>
	<string>ucircumflex.alt.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udieresis.alt</key>
	<string>udieresis.alt.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>ugrave.alt</key>
	<string>ugrave.alt.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>uhungarumlaut.alt</key>
	<string>uhungarumlaut.alt.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>umacron.alt</key>
	<string>umacron.alt.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uogonek.alt</key>
	<string>uogonek.alt.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>uring.alt</key>
	<string>uring.alt.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.bold</key>
	<string>w.bold.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.alt</key>
	<string>x.alt.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.alt</key>
	<string>z.alt.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zacute.alt</key>
	<string>zacute.alt.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zcaron.alt</key>
	<string>zcaron.alt.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zdotaccent.alt</key>
	<string>zdotaccent.alt.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.slash</key>
	<string>zero.slash.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
