<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>qcurve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>space</string>
				<string>uni0964</string>
				<string>uni0965</string>
				<string>headline</string>
				<string>headline1</string>
				<string>headline2</string>
				<string>uni25CC</string>
				<string>uni00A0</string>
				<string>comma</string>
				<string>semicolon</string>
				<string>colon</string>
				<string>ellipsis</string>
				<string>exclam</string>
				<string>question</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>bar</string>
				<string>slash</string>
				<string>hyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>bullet</string>
				<string>periodcentered</string>
				<string>asterisk</string>
				<string>section</string>
				<string>paragraph</string>
				<string>ampersand</string>
				<string>asciicircum</string>
				<string>asciitilde</string>
				<string>backslash</string>
				<string>underscore</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>copyright</string>
				<string>trademark</string>
				<string>registered</string>
				<string>at</string>
				<string>Euro</string>
				<string>dollar</string>
				<string>cent</string>
				<string>sterling</string>
				<string>yen</string>
				<string>numbersign</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>plus</string>
				<string>minus</string>
				<string>plusminus</string>
				<string>multiply</string>
				<string>divide</string>
				<string>equal</string>
				<string>less</string>
				<string>greater</string>
				<string>percent</string>
				<string>perthousand</string>
				<string>degree</string>
				<string>c996</string>
				<string>lines</string>
				<string>uni0A05</string>
				<string>uni0A06</string>
				<string>uni0A07</string>
				<string>uni0A08</string>
				<string>uni0A09</string>
				<string>uni0A0A</string>
				<string>uni0A0F</string>
				<string>uni0A10</string>
				<string>uni0A13</string>
				<string>uni0A14</string>
				<string>uni0A15</string>
				<string>uni0A16</string>
				<string>uni0A17</string>
				<string>uni0A18</string>
				<string>uni0A19</string>
				<string>uni0A1A</string>
				<string>uni0A1B</string>
				<string>uni0A1C</string>
				<string>uni0A1D</string>
				<string>uni0A1E</string>
				<string>uni0A1F</string>
				<string>uni0A20</string>
				<string>uni0A21</string>
				<string>uni0A23</string>
				<string>uni0A24</string>
				<string>uni0A25</string>
				<string>uni0A26</string>
				<string>uni0A27</string>
				<string>uni0A28</string>
				<string>uni0A2A</string>
				<string>uni0A2B</string>
				<string>uni0A2C</string>
				<string>uni0A2D</string>
				<string>uni0A2E</string>
				<string>uni0A2F</string>
				<string>uni0A30</string>
				<string>uni0A32</string>
				<string>uni0A22</string>
				<string>uni0A33</string>
				<string>uni0A35</string>
				<string>uni0A36</string>
				<string>uni0A38</string>
				<string>uni0A39</string>
				<string>uni0A72</string>
				<string>uni0A73</string>
				<string>uni0A3E</string>
				<string>uni0A3F</string>
				<string>uni0A40</string>
				<string>uni0A41</string>
				<string>uni0A42</string>
				<string>uni0A47</string>
				<string>uni0A48</string>
				<string>uni0A4B</string>
				<string>uni0A4C</string>
				<string>uni0A4D</string>
				<string>uni0A59</string>
				<string>uni0A5A</string>
				<string>uni0A5B</string>
				<string>uni0A5C</string>
				<string>uni0A5E</string>
				<string>uni0A66</string>
				<string>uni0A67</string>
				<string>uni0A68</string>
				<string>uni0A69</string>
				<string>uni0A6A</string>
				<string>uni0A6B</string>
				<string>uni0A6C</string>
				<string>uni0A6D</string>
				<string>uni0A6E</string>
				<string>uni0A6F</string>
				<string>uni0A3C.001</string>
				<string>uni0A01.001</string>
				<string>uni0A02.001</string>
				<string>uni0A03.001</string>
				<string>uni0A71.001</string>
				<string>uni0A70.001</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>period</string>
				<string>uni0A51</string>
				<string>uni0A3C</string>
				<string>uni0A01</string>
				<string>uni0A02</string>
				<string>uni0A03</string>
				<string>uni0A70</string>
				<string>uni0A71</string>
				<string>servicemark</string>
				<string>uni0A6A.001</string>
				<string>colon.alt</string>
				<string>period.001</string>
				<string>comma.001</string>
				<string>colon.001</string>
				<string>colon.alt.001</string>
				<string>semicolon.001</string>
				<string>ellipsis.001</string>
				<string>periodcentered.001</string>
				<string>ampersand.001</string>
				<string>exclam.001</string>
				<string>question.001</string>
				<string>quotedblleft.001</string>
				<string>quotedblright.001</string>
				<string>quoteleft.001</string>
				<string>quoteright.001</string>
				<string>ampersand.002</string>
				<string>exclam.002</string>
				<string>question.002</string>
				<string>uni0A47.001</string>
				<string>uni0A48.001</string>
				<string>uni0A47.002</string>
				<string>uni0A48.002</string>
				<string>uni0A47.003</string>
				<string>uni0A48.003</string>
				<string>uni0A47.004</string>
				<string>uni0A48.004</string>
				<string>published</string>
				<string>uni0A3F.001</string>
				<string>uni0A40.001</string>
				<string>uni0A3F.002</string>
				<string>uni0A40.002</string>
				<string>rupeeIndian</string>
				<string>rupee</string>
				<string>R_p</string>
				<string>uni0A70.011</string>
				<string>u0A71</string>
				<string>u0A74</string>
				<string>u0A3E_u0A02</string>
				<string>u0A40_u0A02</string>
				<string>_129</string>
				<string>_130</string>
				<string>_131</string>
				<string>u0A4C_u0A02</string>
				<string>_133</string>
				<string>uni0A70.002</string>
				<string>u0A30_u0A4D</string>
				<string>u0A35_u0A4D</string>
				<string>u0A39_u0A4D</string>
				<string>u0A2F_u0A4D</string>
				<string>u0A09_u0A02</string>
				<string>u0A0A_u0A02</string>
				<string>u0A13_u0A02</string>
				<string>u0A09_u0A71</string>
				<string>u0A0A_u0A71</string>
				<string>u0A13_u0A71</string>
				<string>uni0964.001</string>
				<string>u0A15_u0A3C</string>
				<string>u0A18_u0A3C</string>
				<string>u0A19_u0A3C</string>
				<string>u0A1A_u0A3C</string>
				<string>u0A1B_u0A3C</string>
				<string>u0A1D_u0A3C</string>
				<string>u0A1E_u0A3C</string>
				<string>u0A1F_u0A3C</string>
				<string>u0A20_u0A3C</string>
				<string>u0A22_u0A3C</string>
				<string>u0A23_u0A3C</string>
				<string>u0A24_u0A3C</string>
				<string>u0A25_u0A3C</string>
				<string>u0A26_u0A3C</string>
				<string>u0A27_u0A3C</string>
				<string>u0A28_u0A3C</string>
				<string>u0A2A_u0A3C</string>
				<string>u0A2C_u0A3C</string>
				<string>u0A2D_u0A3C</string>
				<string>u0A2E_u0A3C</string>
				<string>u0A2F_u0A3C</string>
				<string>u0A30_u0A3C</string>
				<string>u0A35_u0A3C</string>
				<string>u0A38_u0A3C</string>
				<string>u0A39_u0A3C</string>
				<string>u0A15_u0A4D</string>
				<string>u0A16_u0A4D</string>
				<string>u0A17_u0A4D</string>
				<string>u0A18_u0A4D</string>
				<string>u0A19_u0A4D</string>
				<string>u0A1A_u0A4D</string>
				<string>u0A1B_u0A4D</string>
				<string>u0A1C_u0A4D</string>
				<string>u0A1D_u0A4D</string>
				<string>u0A1E_u0A4D</string>
				<string>u0A1F_u0A4D</string>
				<string>u0A20_u0A4D</string>
				<string>u0A21_u0A4D</string>
				<string>u0A22_u0A4D</string>
				<string>u0A23_u0A4D</string>
				<string>u0A24_u0A4D</string>
				<string>u0A25_u0A4D</string>
				<string>u0A26_u0A4D</string>
				<string>u0A27_u0A4D</string>
				<string>u0A28_u0A4D</string>
				<string>u0A2A_u0A4D</string>
				<string>u0A2B_u0A4D</string>
				<string>u0A2C_u0A4D</string>
				<string>u0A2D_u0A4D</string>
				<string>u0A2E_u0A4D</string>
				<string>_196</string>
				<string>_197</string>
				<string>u0A32_u0A4D</string>
				<string>_199</string>
				<string>_200</string>
				<string>u0A36_u0A4D</string>
				<string>u0A38_u0A4D</string>
				<string>_203</string>
				<string>u0A15_u0A3C_u0A4D</string>
				<string>u0A59_u0A4D</string>
				<string>u0A5A_u0A4D</string>
				<string>u0A18_u0A3C_u0A4D</string>
				<string>u0A19_u0A3C_u0A4D</string>
				<string>u0A1A_u0A3C_u0A4D</string>
				<string>u0A1B_u0A3C_u0A4D</string>
				<string>u0A5B_u0A4D</string>
				<string>u0A1D_u0A3C_u0A4D</string>
				<string>u0A1E_u0A3C_u0A4D</string>
				<string>u0A1F_u0A3C_u0A4D</string>
				<string>u0A20_u0A3C_u0A4D</string>
				<string>u0A5C_u0A4D</string>
				<string>u0A22_u0A3C_u0A4D</string>
				<string>u0A23_u0A3C_u0A4D</string>
				<string>u0A24_u0A3C_u0A4D</string>
				<string>u0A25_u0A3C_u0A4D</string>
				<string>u0A26_u0A3C_u0A4D</string>
				<string>u0A27_u0A3C_u0A4D</string>
				<string>u0A28_u0A3C_u0A4D</string>
				<string>u0A2A_u0A3C_u0A4D</string>
				<string>u0A5E_u0A4D</string>
				<string>u0A2C_u0A3C_u0A4D</string>
				<string>u0A2D_u0A3C_u0A4D</string>
				<string>u0A2E_u0A3C_u0A4D</string>
				<string>u0A2F_u0A3C_u0A4D</string>
				<string>u0A30_u0A3C_u0A4D</string>
				<string>u0A33_u0A4D</string>
				<string>u0A35_u0A3C_u0A4D</string>
				<string>u0A38_u0A3C_u0A4D</string>
				<string>u0A39_u0A3C_u0A4D</string>
				<string>afii61664</string>
				<string>afii301</string>
				<string>uni25CC.001</string>
				<string>u0A05_u0A3C</string>
				<string>u0A06_u0A3C</string>
				<string>u0A07_u0A3C</string>
				<string>u0A08_u0A3C</string>
				<string>u0A09_u0A3C</string>
				<string>u0A0A_u0A3C</string>
				<string>u0A0F_u0A3C</string>
				<string>u0A10_u0A3C</string>
				<string>u0A13_u0A3C</string>
				<string>u0A14_u0A3C</string>
				<string>u0A30_u0A4D_u0A4D</string>
				<string>u0A35_u0A4D_u0A4D</string>
				<string>u0A39_u0A4D_u0A4D</string>
				<string>u0A30_u0A4D_u0A41</string>
				<string>u0A35_u0A4D_u0A41</string>
				<string>u0A39_u0A4D_u0A41</string>
				<string>u0A30_u0A4D_u0A42</string>
				<string>u0A35_u0A4D_u0A42</string>
				<string>u0A39_u0A4D_u0A42</string>
				<string>u0A47.abvs</string>
				<string>u0A48.abvs</string>
				<string>u0A4B.abvs</string>
				<string>u0A47_u0A02</string>
				<string>u0A48_u0A02</string>
				<string>u0A4B_u0A02</string>
				<string>u0A4C_u0A71</string>
				<string>uni0A74</string>
				<string>_0181</string>
				<string>_0254</string>
				<string>uni0A07.001</string>
				<string>uni0A08.001</string>
				<string>uni0A0F.001</string>
				<string>uni0A10.001</string>
				<string>uni0A07.002</string>
				<string>uni0A08.002</string>
				<string>uni0A0F.002</string>
				<string>uni0A10.002</string>
				<string>uni0A0F.003</string>
				<string>uni0A10.003</string>
				<string>uni0A0F.004</string>
				<string>uni0A10.004</string>
				<string>uni0A4B.001</string>
				<string>uni0A4B.002</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>uni0964</string>
		<string>uni0965</string>
		<string>headline</string>
		<string>headline1</string>
		<string>headline2</string>
		<string>uni25CC</string>
		<string>uni00A0</string>
		<string>comma</string>
		<string>semicolon</string>
		<string>colon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>question</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>bar</string>
		<string>slash</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>bullet</string>
		<string>periodcentered</string>
		<string>asterisk</string>
		<string>section</string>
		<string>paragraph</string>
		<string>ampersand</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>backslash</string>
		<string>underscore</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>copyright</string>
		<string>trademark</string>
		<string>registered</string>
		<string>at</string>
		<string>Euro</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>yen</string>
		<string>numbersign</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>plus</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>less</string>
		<string>greater</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>degree</string>
		<string>c996</string>
		<string>lines</string>
		<string>uni0A05</string>
		<string>uni0A06</string>
		<string>uni0A07</string>
		<string>uni0A08</string>
		<string>uni0A09</string>
		<string>uni0A0A</string>
		<string>uni0A0F</string>
		<string>uni0A10</string>
		<string>uni0A13</string>
		<string>uni0A14</string>
		<string>uni0A15</string>
		<string>uni0A16</string>
		<string>uni0A17</string>
		<string>uni0A18</string>
		<string>uni0A19</string>
		<string>uni0A1A</string>
		<string>uni0A1B</string>
		<string>uni0A1C</string>
		<string>uni0A1D</string>
		<string>uni0A1E</string>
		<string>uni0A1F</string>
		<string>uni0A20</string>
		<string>uni0A21</string>
		<string>uni0A23</string>
		<string>uni0A24</string>
		<string>uni0A25</string>
		<string>uni0A26</string>
		<string>uni0A27</string>
		<string>uni0A28</string>
		<string>uni0A2A</string>
		<string>uni0A2B</string>
		<string>uni0A2C</string>
		<string>uni0A2D</string>
		<string>uni0A2E</string>
		<string>uni0A2F</string>
		<string>uni0A30</string>
		<string>uni0A32</string>
		<string>uni0A22</string>
		<string>uni0A33</string>
		<string>uni0A35</string>
		<string>uni0A36</string>
		<string>uni0A38</string>
		<string>uni0A39</string>
		<string>uni0A72</string>
		<string>uni0A73</string>
		<string>uni0A3E</string>
		<string>uni0A3F</string>
		<string>uni0A40</string>
		<string>uni0A41</string>
		<string>uni0A42</string>
		<string>uni0A47</string>
		<string>uni0A48</string>
		<string>uni0A4B</string>
		<string>uni0A4C</string>
		<string>uni0A4D</string>
		<string>uni0A59</string>
		<string>uni0A5A</string>
		<string>uni0A5B</string>
		<string>uni0A5C</string>
		<string>uni0A5E</string>
		<string>uni0A66</string>
		<string>uni0A67</string>
		<string>uni0A68</string>
		<string>uni0A69</string>
		<string>uni0A6A</string>
		<string>uni0A6B</string>
		<string>uni0A6C</string>
		<string>uni0A6D</string>
		<string>uni0A6E</string>
		<string>uni0A6F</string>
		<string>uni0A3C.001</string>
		<string>uni0A01.001</string>
		<string>uni0A02.001</string>
		<string>uni0A03.001</string>
		<string>uni0A71.001</string>
		<string>uni0A70.001</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>period</string>
		<string>uni0A51</string>
		<string>uni0A3C</string>
		<string>uni0A01</string>
		<string>uni0A02</string>
		<string>uni0A03</string>
		<string>uni0A70</string>
		<string>uni0A71</string>
		<string>servicemark</string>
		<string>uni0A6A.001</string>
		<string>colon.alt</string>
		<string>period.001</string>
		<string>comma.001</string>
		<string>colon.001</string>
		<string>colon.alt.001</string>
		<string>semicolon.001</string>
		<string>ellipsis.001</string>
		<string>periodcentered.001</string>
		<string>ampersand.001</string>
		<string>exclam.001</string>
		<string>question.001</string>
		<string>quotedblleft.001</string>
		<string>quotedblright.001</string>
		<string>quoteleft.001</string>
		<string>quoteright.001</string>
		<string>ampersand.002</string>
		<string>exclam.002</string>
		<string>question.002</string>
		<string>uni0A47.001</string>
		<string>uni0A48.001</string>
		<string>uni0A47.002</string>
		<string>uni0A48.002</string>
		<string>uni0A47.003</string>
		<string>uni0A48.003</string>
		<string>uni0A47.004</string>
		<string>uni0A48.004</string>
		<string>published</string>
		<string>uni0A3F.001</string>
		<string>uni0A40.001</string>
		<string>uni0A3F.002</string>
		<string>uni0A40.002</string>
		<string>rupeeIndian</string>
		<string>rupee</string>
		<string>R_p</string>
		<string>uni0A70.011</string>
		<string>u0A71</string>
		<string>u0A74</string>
		<string>u0A3E_u0A02</string>
		<string>u0A40_u0A02</string>
		<string>_129</string>
		<string>_130</string>
		<string>_131</string>
		<string>u0A4C_u0A02</string>
		<string>_133</string>
		<string>uni0A70.002</string>
		<string>u0A30_u0A4D</string>
		<string>u0A35_u0A4D</string>
		<string>u0A39_u0A4D</string>
		<string>u0A2F_u0A4D</string>
		<string>u0A09_u0A02</string>
		<string>u0A0A_u0A02</string>
		<string>u0A13_u0A02</string>
		<string>u0A09_u0A71</string>
		<string>u0A0A_u0A71</string>
		<string>u0A13_u0A71</string>
		<string>uni0964.001</string>
		<string>u0A15_u0A3C</string>
		<string>u0A18_u0A3C</string>
		<string>u0A19_u0A3C</string>
		<string>u0A1A_u0A3C</string>
		<string>u0A1B_u0A3C</string>
		<string>u0A1D_u0A3C</string>
		<string>u0A1E_u0A3C</string>
		<string>u0A1F_u0A3C</string>
		<string>u0A20_u0A3C</string>
		<string>u0A22_u0A3C</string>
		<string>u0A23_u0A3C</string>
		<string>u0A24_u0A3C</string>
		<string>u0A25_u0A3C</string>
		<string>u0A26_u0A3C</string>
		<string>u0A27_u0A3C</string>
		<string>u0A28_u0A3C</string>
		<string>u0A2A_u0A3C</string>
		<string>u0A2C_u0A3C</string>
		<string>u0A2D_u0A3C</string>
		<string>u0A2E_u0A3C</string>
		<string>u0A2F_u0A3C</string>
		<string>u0A30_u0A3C</string>
		<string>u0A35_u0A3C</string>
		<string>u0A38_u0A3C</string>
		<string>u0A39_u0A3C</string>
		<string>u0A15_u0A4D</string>
		<string>u0A16_u0A4D</string>
		<string>u0A17_u0A4D</string>
		<string>u0A18_u0A4D</string>
		<string>u0A19_u0A4D</string>
		<string>u0A1A_u0A4D</string>
		<string>u0A1B_u0A4D</string>
		<string>u0A1C_u0A4D</string>
		<string>u0A1D_u0A4D</string>
		<string>u0A1E_u0A4D</string>
		<string>u0A1F_u0A4D</string>
		<string>u0A20_u0A4D</string>
		<string>u0A21_u0A4D</string>
		<string>u0A22_u0A4D</string>
		<string>u0A23_u0A4D</string>
		<string>u0A24_u0A4D</string>
		<string>u0A25_u0A4D</string>
		<string>u0A26_u0A4D</string>
		<string>u0A27_u0A4D</string>
		<string>u0A28_u0A4D</string>
		<string>u0A2A_u0A4D</string>
		<string>u0A2B_u0A4D</string>
		<string>u0A2C_u0A4D</string>
		<string>u0A2D_u0A4D</string>
		<string>u0A2E_u0A4D</string>
		<string>_196</string>
		<string>_197</string>
		<string>u0A32_u0A4D</string>
		<string>_199</string>
		<string>_200</string>
		<string>u0A36_u0A4D</string>
		<string>u0A38_u0A4D</string>
		<string>_203</string>
		<string>u0A15_u0A3C_u0A4D</string>
		<string>u0A59_u0A4D</string>
		<string>u0A5A_u0A4D</string>
		<string>u0A18_u0A3C_u0A4D</string>
		<string>u0A19_u0A3C_u0A4D</string>
		<string>u0A1A_u0A3C_u0A4D</string>
		<string>u0A1B_u0A3C_u0A4D</string>
		<string>u0A5B_u0A4D</string>
		<string>u0A1D_u0A3C_u0A4D</string>
		<string>u0A1E_u0A3C_u0A4D</string>
		<string>u0A1F_u0A3C_u0A4D</string>
		<string>u0A20_u0A3C_u0A4D</string>
		<string>u0A5C_u0A4D</string>
		<string>u0A22_u0A3C_u0A4D</string>
		<string>u0A23_u0A3C_u0A4D</string>
		<string>u0A24_u0A3C_u0A4D</string>
		<string>u0A25_u0A3C_u0A4D</string>
		<string>u0A26_u0A3C_u0A4D</string>
		<string>u0A27_u0A3C_u0A4D</string>
		<string>u0A28_u0A3C_u0A4D</string>
		<string>u0A2A_u0A3C_u0A4D</string>
		<string>u0A5E_u0A4D</string>
		<string>u0A2C_u0A3C_u0A4D</string>
		<string>u0A2D_u0A3C_u0A4D</string>
		<string>u0A2E_u0A3C_u0A4D</string>
		<string>u0A2F_u0A3C_u0A4D</string>
		<string>u0A30_u0A3C_u0A4D</string>
		<string>u0A33_u0A4D</string>
		<string>u0A35_u0A3C_u0A4D</string>
		<string>u0A38_u0A3C_u0A4D</string>
		<string>u0A39_u0A3C_u0A4D</string>
		<string>afii61664</string>
		<string>afii301</string>
		<string>uni25CC.001</string>
		<string>u0A05_u0A3C</string>
		<string>u0A06_u0A3C</string>
		<string>u0A07_u0A3C</string>
		<string>u0A08_u0A3C</string>
		<string>u0A09_u0A3C</string>
		<string>u0A0A_u0A3C</string>
		<string>u0A0F_u0A3C</string>
		<string>u0A10_u0A3C</string>
		<string>u0A13_u0A3C</string>
		<string>u0A14_u0A3C</string>
		<string>u0A30_u0A4D_u0A4D</string>
		<string>u0A35_u0A4D_u0A4D</string>
		<string>u0A39_u0A4D_u0A4D</string>
		<string>u0A30_u0A4D_u0A41</string>
		<string>u0A35_u0A4D_u0A41</string>
		<string>u0A39_u0A4D_u0A41</string>
		<string>u0A30_u0A4D_u0A42</string>
		<string>u0A35_u0A4D_u0A42</string>
		<string>u0A39_u0A4D_u0A42</string>
		<string>u0A47.abvs</string>
		<string>u0A48.abvs</string>
		<string>u0A4B.abvs</string>
		<string>u0A47_u0A02</string>
		<string>u0A48_u0A02</string>
		<string>u0A4B_u0A02</string>
		<string>u0A4C_u0A71</string>
		<string>uni0A74</string>
		<string>_0181</string>
		<string>_0254</string>
		<string>uni0A07.001</string>
		<string>uni0A08.001</string>
		<string>uni0A0F.001</string>
		<string>uni0A10.001</string>
		<string>uni0A07.002</string>
		<string>uni0A08.002</string>
		<string>uni0A0F.002</string>
		<string>uni0A10.002</string>
		<string>uni0A0F.003</string>
		<string>uni0A10.003</string>
		<string>uni0A0F.004</string>
		<string>uni0A10.004</string>
		<string>uni0A4B.001</string>
		<string>uni0A4B.002</string>
	</array>
</dict>
</plist>
