<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>R_p</key>
	<string>R__p.glif</string>
	<key>_0181</key>
	<string>_0181.glif</string>
	<key>_0254</key>
	<string>_0254.glif</string>
	<key>_129</key>
	<string>_129.glif</string>
	<key>_130</key>
	<string>_130.glif</string>
	<key>_131</key>
	<string>_131.glif</string>
	<key>_133</key>
	<string>_133.glif</string>
	<key>_196</key>
	<string>_196.glif</string>
	<key>_197</key>
	<string>_197.glif</string>
	<key>_199</key>
	<string>_199.glif</string>
	<key>_200</key>
	<string>_200.glif</string>
	<key>_203</key>
	<string>_203.glif</string>
	<key>afii301</key>
	<string>afii301.glif</string>
	<key>afii61664</key>
	<string>afii61664.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.001</key>
	<string>ampersand.001.glif</string>
	<key>ampersand.002</key>
	<string>ampersand.002.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c996</key>
	<string>c996.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colon.001</key>
	<string>colon.001.glif</string>
	<key>colon.alt</key>
	<string>colon.alt.glif</string>
	<key>colon.alt.001</key>
	<string>colon.alt.001.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma.001</key>
	<string>comma.001.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>ellipsis.001</key>
	<string>ellipsis.001.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclam.001</key>
	<string>exclam.001.glif</string>
	<key>exclam.002</key>
	<string>exclam.002.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>headline</key>
	<string>headline.glif</string>
	<key>headline1</key>
	<string>headline1.glif</string>
	<key>headline2</key>
	<string>headline2.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lines</key>
	<string>lines.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period.001</key>
	<string>period.001.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered.001</key>
	<string>periodcentered.001.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>published</key>
	<string>published.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.001</key>
	<string>question.001.glif</string>
	<key>question.002</key>
	<string>question.002.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblleft.001</key>
	<string>quotedblleft.001.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quotedblright.001</key>
	<string>quotedblright.001.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteleft.001</key>
	<string>quoteleft.001.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quoteright.001</key>
	<string>quoteright.001.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>rupee</key>
	<string>rupee.glif</string>
	<key>rupeeIndian</key>
	<string>rupeeIndian_.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semicolon.001</key>
	<string>semicolon.001.glif</string>
	<key>servicemark</key>
	<string>servicemark.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u0A05_u0A3C</key>
	<string>u0A05__u0A3C_.glif</string>
	<key>u0A06_u0A3C</key>
	<string>u0A06__u0A3C_.glif</string>
	<key>u0A07_u0A3C</key>
	<string>u0A07__u0A3C_.glif</string>
	<key>u0A08_u0A3C</key>
	<string>u0A08__u0A3C_.glif</string>
	<key>u0A09_u0A02</key>
	<string>u0A09__u0A02_.glif</string>
	<key>u0A09_u0A3C</key>
	<string>u0A09__u0A3C_.glif</string>
	<key>u0A09_u0A71</key>
	<string>u0A09__u0A71_.glif</string>
	<key>u0A0A_u0A02</key>
	<string>u0A0A__u0A02_.glif</string>
	<key>u0A0A_u0A3C</key>
	<string>u0A0A__u0A3C_.glif</string>
	<key>u0A0A_u0A71</key>
	<string>u0A0A__u0A71_.glif</string>
	<key>u0A0F_u0A3C</key>
	<string>u0A0F__u0A3C_.glif</string>
	<key>u0A10_u0A3C</key>
	<string>u0A10__u0A3C_.glif</string>
	<key>u0A13_u0A02</key>
	<string>u0A13__u0A02_.glif</string>
	<key>u0A13_u0A3C</key>
	<string>u0A13__u0A3C_.glif</string>
	<key>u0A13_u0A71</key>
	<string>u0A13__u0A71_.glif</string>
	<key>u0A14_u0A3C</key>
	<string>u0A14__u0A3C_.glif</string>
	<key>u0A15_u0A3C</key>
	<string>u0A15__u0A3C_.glif</string>
	<key>u0A15_u0A3C_u0A4D</key>
	<string>u0A15__u0A3C__u0A4D_.glif</string>
	<key>u0A15_u0A4D</key>
	<string>u0A15__u0A4D_.glif</string>
	<key>u0A16_u0A4D</key>
	<string>u0A16__u0A4D_.glif</string>
	<key>u0A17_u0A4D</key>
	<string>u0A17__u0A4D_.glif</string>
	<key>u0A18_u0A3C</key>
	<string>u0A18__u0A3C_.glif</string>
	<key>u0A18_u0A3C_u0A4D</key>
	<string>u0A18__u0A3C__u0A4D_.glif</string>
	<key>u0A18_u0A4D</key>
	<string>u0A18__u0A4D_.glif</string>
	<key>u0A19_u0A3C</key>
	<string>u0A19__u0A3C_.glif</string>
	<key>u0A19_u0A3C_u0A4D</key>
	<string>u0A19__u0A3C__u0A4D_.glif</string>
	<key>u0A19_u0A4D</key>
	<string>u0A19__u0A4D_.glif</string>
	<key>u0A1A_u0A3C</key>
	<string>u0A1A__u0A3C_.glif</string>
	<key>u0A1A_u0A3C_u0A4D</key>
	<string>u0A1A__u0A3C__u0A4D_.glif</string>
	<key>u0A1A_u0A4D</key>
	<string>u0A1A__u0A4D_.glif</string>
	<key>u0A1B_u0A3C</key>
	<string>u0A1B__u0A3C_.glif</string>
	<key>u0A1B_u0A3C_u0A4D</key>
	<string>u0A1B__u0A3C__u0A4D_.glif</string>
	<key>u0A1B_u0A4D</key>
	<string>u0A1B__u0A4D_.glif</string>
	<key>u0A1C_u0A4D</key>
	<string>u0A1C__u0A4D_.glif</string>
	<key>u0A1D_u0A3C</key>
	<string>u0A1D__u0A3C_.glif</string>
	<key>u0A1D_u0A3C_u0A4D</key>
	<string>u0A1D__u0A3C__u0A4D_.glif</string>
	<key>u0A1D_u0A4D</key>
	<string>u0A1D__u0A4D_.glif</string>
	<key>u0A1E_u0A3C</key>
	<string>u0A1E__u0A3C_.glif</string>
	<key>u0A1E_u0A3C_u0A4D</key>
	<string>u0A1E__u0A3C__u0A4D_.glif</string>
	<key>u0A1E_u0A4D</key>
	<string>u0A1E__u0A4D_.glif</string>
	<key>u0A1F_u0A3C</key>
	<string>u0A1F__u0A3C_.glif</string>
	<key>u0A1F_u0A3C_u0A4D</key>
	<string>u0A1F__u0A3C__u0A4D_.glif</string>
	<key>u0A1F_u0A4D</key>
	<string>u0A1F__u0A4D_.glif</string>
	<key>u0A20_u0A3C</key>
	<string>u0A20__u0A3C_.glif</string>
	<key>u0A20_u0A3C_u0A4D</key>
	<string>u0A20__u0A3C__u0A4D_.glif</string>
	<key>u0A20_u0A4D</key>
	<string>u0A20__u0A4D_.glif</string>
	<key>u0A21_u0A4D</key>
	<string>u0A21__u0A4D_.glif</string>
	<key>u0A22_u0A3C</key>
	<string>u0A22__u0A3C_.glif</string>
	<key>u0A22_u0A3C_u0A4D</key>
	<string>u0A22__u0A3C__u0A4D_.glif</string>
	<key>u0A22_u0A4D</key>
	<string>u0A22__u0A4D_.glif</string>
	<key>u0A23_u0A3C</key>
	<string>u0A23__u0A3C_.glif</string>
	<key>u0A23_u0A3C_u0A4D</key>
	<string>u0A23__u0A3C__u0A4D_.glif</string>
	<key>u0A23_u0A4D</key>
	<string>u0A23__u0A4D_.glif</string>
	<key>u0A24_u0A3C</key>
	<string>u0A24__u0A3C_.glif</string>
	<key>u0A24_u0A3C_u0A4D</key>
	<string>u0A24__u0A3C__u0A4D_.glif</string>
	<key>u0A24_u0A4D</key>
	<string>u0A24__u0A4D_.glif</string>
	<key>u0A25_u0A3C</key>
	<string>u0A25__u0A3C_.glif</string>
	<key>u0A25_u0A3C_u0A4D</key>
	<string>u0A25__u0A3C__u0A4D_.glif</string>
	<key>u0A25_u0A4D</key>
	<string>u0A25__u0A4D_.glif</string>
	<key>u0A26_u0A3C</key>
	<string>u0A26__u0A3C_.glif</string>
	<key>u0A26_u0A3C_u0A4D</key>
	<string>u0A26__u0A3C__u0A4D_.glif</string>
	<key>u0A26_u0A4D</key>
	<string>u0A26__u0A4D_.glif</string>
	<key>u0A27_u0A3C</key>
	<string>u0A27__u0A3C_.glif</string>
	<key>u0A27_u0A3C_u0A4D</key>
	<string>u0A27__u0A3C__u0A4D_.glif</string>
	<key>u0A27_u0A4D</key>
	<string>u0A27__u0A4D_.glif</string>
	<key>u0A28_u0A3C</key>
	<string>u0A28__u0A3C_.glif</string>
	<key>u0A28_u0A3C_u0A4D</key>
	<string>u0A28__u0A3C__u0A4D_.glif</string>
	<key>u0A28_u0A4D</key>
	<string>u0A28__u0A4D_.glif</string>
	<key>u0A2A_u0A3C</key>
	<string>u0A2A__u0A3C_.glif</string>
	<key>u0A2A_u0A3C_u0A4D</key>
	<string>u0A2A__u0A3C__u0A4D_.glif</string>
	<key>u0A2A_u0A4D</key>
	<string>u0A2A__u0A4D_.glif</string>
	<key>u0A2B_u0A4D</key>
	<string>u0A2B__u0A4D_.glif</string>
	<key>u0A2C_u0A3C</key>
	<string>u0A2C__u0A3C_.glif</string>
	<key>u0A2C_u0A3C_u0A4D</key>
	<string>u0A2C__u0A3C__u0A4D_.glif</string>
	<key>u0A2C_u0A4D</key>
	<string>u0A2C__u0A4D_.glif</string>
	<key>u0A2D_u0A3C</key>
	<string>u0A2D__u0A3C_.glif</string>
	<key>u0A2D_u0A3C_u0A4D</key>
	<string>u0A2D__u0A3C__u0A4D_.glif</string>
	<key>u0A2D_u0A4D</key>
	<string>u0A2D__u0A4D_.glif</string>
	<key>u0A2E_u0A3C</key>
	<string>u0A2E__u0A3C_.glif</string>
	<key>u0A2E_u0A3C_u0A4D</key>
	<string>u0A2E__u0A3C__u0A4D_.glif</string>
	<key>u0A2E_u0A4D</key>
	<string>u0A2E__u0A4D_.glif</string>
	<key>u0A2F_u0A3C</key>
	<string>u0A2F__u0A3C_.glif</string>
	<key>u0A2F_u0A3C_u0A4D</key>
	<string>u0A2F__u0A3C__u0A4D_.glif</string>
	<key>u0A2F_u0A4D</key>
	<string>u0A2F__u0A4D_.glif</string>
	<key>u0A30_u0A3C</key>
	<string>u0A30__u0A3C_.glif</string>
	<key>u0A30_u0A3C_u0A4D</key>
	<string>u0A30__u0A3C__u0A4D_.glif</string>
	<key>u0A30_u0A4D</key>
	<string>u0A30__u0A4D_.glif</string>
	<key>u0A30_u0A4D_u0A41</key>
	<string>u0A30__u0A4D__u0A41_.glif</string>
	<key>u0A30_u0A4D_u0A42</key>
	<string>u0A30__u0A4D__u0A42_.glif</string>
	<key>u0A30_u0A4D_u0A4D</key>
	<string>u0A30__u0A4D__u0A4D_.glif</string>
	<key>u0A32_u0A4D</key>
	<string>u0A32__u0A4D_.glif</string>
	<key>u0A33_u0A4D</key>
	<string>u0A33__u0A4D_.glif</string>
	<key>u0A35_u0A3C</key>
	<string>u0A35__u0A3C_.glif</string>
	<key>u0A35_u0A3C_u0A4D</key>
	<string>u0A35__u0A3C__u0A4D_.glif</string>
	<key>u0A35_u0A4D</key>
	<string>u0A35__u0A4D_.glif</string>
	<key>u0A35_u0A4D_u0A41</key>
	<string>u0A35__u0A4D__u0A41_.glif</string>
	<key>u0A35_u0A4D_u0A42</key>
	<string>u0A35__u0A4D__u0A42_.glif</string>
	<key>u0A35_u0A4D_u0A4D</key>
	<string>u0A35__u0A4D__u0A4D_.glif</string>
	<key>u0A36_u0A4D</key>
	<string>u0A36__u0A4D_.glif</string>
	<key>u0A38_u0A3C</key>
	<string>u0A38__u0A3C_.glif</string>
	<key>u0A38_u0A3C_u0A4D</key>
	<string>u0A38__u0A3C__u0A4D_.glif</string>
	<key>u0A38_u0A4D</key>
	<string>u0A38__u0A4D_.glif</string>
	<key>u0A39_u0A3C</key>
	<string>u0A39__u0A3C_.glif</string>
	<key>u0A39_u0A3C_u0A4D</key>
	<string>u0A39__u0A3C__u0A4D_.glif</string>
	<key>u0A39_u0A4D</key>
	<string>u0A39__u0A4D_.glif</string>
	<key>u0A39_u0A4D_u0A41</key>
	<string>u0A39__u0A4D__u0A41_.glif</string>
	<key>u0A39_u0A4D_u0A42</key>
	<string>u0A39__u0A4D__u0A42_.glif</string>
	<key>u0A39_u0A4D_u0A4D</key>
	<string>u0A39__u0A4D__u0A4D_.glif</string>
	<key>u0A3E_u0A02</key>
	<string>u0A3E__u0A02_.glif</string>
	<key>u0A40_u0A02</key>
	<string>u0A40__u0A02_.glif</string>
	<key>u0A47.abvs</key>
	<string>u0A47_.abvs.glif</string>
	<key>u0A47_u0A02</key>
	<string>u0A47__u0A02_.glif</string>
	<key>u0A48.abvs</key>
	<string>u0A48_.abvs.glif</string>
	<key>u0A48_u0A02</key>
	<string>u0A48__u0A02_.glif</string>
	<key>u0A4B.abvs</key>
	<string>u0A4B_.abvs.glif</string>
	<key>u0A4B_u0A02</key>
	<string>u0A4B__u0A02_.glif</string>
	<key>u0A4C_u0A02</key>
	<string>u0A4C__u0A02_.glif</string>
	<key>u0A4C_u0A71</key>
	<string>u0A4C__u0A71_.glif</string>
	<key>u0A59_u0A4D</key>
	<string>u0A59__u0A4D_.glif</string>
	<key>u0A5A_u0A4D</key>
	<string>u0A5A__u0A4D_.glif</string>
	<key>u0A5B_u0A4D</key>
	<string>u0A5B__u0A4D_.glif</string>
	<key>u0A5C_u0A4D</key>
	<string>u0A5C__u0A4D_.glif</string>
	<key>u0A5E_u0A4D</key>
	<string>u0A5E__u0A4D_.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A0_.glif</string>
	<key>uni0964</key>
	<string>uni0964.glif</string>
	<key>uni0964.001</key>
	<string>uni0964.001.glif</string>
	<key>uni0965</key>
	<string>uni0965.glif</string>
	<key>uni0A01</key>
	<string>uni0A01_.glif</string>
	<key>uni0A02</key>
	<string>uni0A02_.glif</string>
	<key>uni0A02.001</key>
	<string>uni0A02_.001.glif</string>
	<key>uni0A03</key>
	<string>uni0A03_.glif</string>
	<key>uni0A03.001</key>
	<string>uni0A03_.001.glif</string>
	<key>uni0A05</key>
	<string>uni0A05_.glif</string>
	<key>uni0A06</key>
	<string>uni0A06_.glif</string>
	<key>uni0A07</key>
	<string>uni0A07_.glif</string>
	<key>uni0A07.001</key>
	<string>uni0A07_.001.glif</string>
	<key>uni0A07.002</key>
	<string>uni0A07_.002.glif</string>
	<key>uni0A08</key>
	<string>uni0A08_.glif</string>
	<key>uni0A08.001</key>
	<string>uni0A08_.001.glif</string>
	<key>uni0A08.002</key>
	<string>uni0A08_.002.glif</string>
	<key>uni0A09</key>
	<string>uni0A09_.glif</string>
	<key>uni0A0A</key>
	<string>uni0A0A_.glif</string>
	<key>uni0A0F</key>
	<string>uni0A0F_.glif</string>
	<key>uni0A0F.001</key>
	<string>uni0A0F_.001.glif</string>
	<key>uni0A0F.002</key>
	<string>uni0A0F_.002.glif</string>
	<key>uni0A0F.003</key>
	<string>uni0A0F_.003.glif</string>
	<key>uni0A0F.004</key>
	<string>uni0A0F_.004.glif</string>
	<key>uni0A10</key>
	<string>uni0A10_.glif</string>
	<key>uni0A10.001</key>
	<string>uni0A10_.001.glif</string>
	<key>uni0A10.002</key>
	<string>uni0A10_.002.glif</string>
	<key>uni0A10.003</key>
	<string>uni0A10_.003.glif</string>
	<key>uni0A10.004</key>
	<string>uni0A10_.004.glif</string>
	<key>uni0A13</key>
	<string>uni0A13_.glif</string>
	<key>uni0A14</key>
	<string>uni0A14_.glif</string>
	<key>uni0A15</key>
	<string>uni0A15_.glif</string>
	<key>uni0A16</key>
	<string>uni0A16_.glif</string>
	<key>uni0A17</key>
	<string>uni0A17_.glif</string>
	<key>uni0A18</key>
	<string>uni0A18_.glif</string>
	<key>uni0A19</key>
	<string>uni0A19_.glif</string>
	<key>uni0A1A</key>
	<string>uni0A1A_.glif</string>
	<key>uni0A1B</key>
	<string>uni0A1B_.glif</string>
	<key>uni0A1C</key>
	<string>uni0A1C_.glif</string>
	<key>uni0A1D</key>
	<string>uni0A1D_.glif</string>
	<key>uni0A1E</key>
	<string>uni0A1E_.glif</string>
	<key>uni0A1F</key>
	<string>uni0A1F_.glif</string>
	<key>uni0A20</key>
	<string>uni0A20_.glif</string>
	<key>uni0A21</key>
	<string>uni0A21_.glif</string>
	<key>uni0A22</key>
	<string>uni0A22_.glif</string>
	<key>uni0A23</key>
	<string>uni0A23_.glif</string>
	<key>uni0A24</key>
	<string>uni0A24_.glif</string>
	<key>uni0A25</key>
	<string>uni0A25_.glif</string>
	<key>uni0A26</key>
	<string>uni0A26_.glif</string>
	<key>uni0A27</key>
	<string>uni0A27_.glif</string>
	<key>uni0A28</key>
	<string>uni0A28_.glif</string>
	<key>uni0A2A</key>
	<string>uni0A2A_.glif</string>
	<key>uni0A2B</key>
	<string>uni0A2B_.glif</string>
	<key>uni0A2C</key>
	<string>uni0A2C_.glif</string>
	<key>uni0A2D</key>
	<string>uni0A2D_.glif</string>
	<key>uni0A2E</key>
	<string>uni0A2E_.glif</string>
	<key>uni0A2F</key>
	<string>uni0A2F_.glif</string>
	<key>uni0A30</key>
	<string>uni0A30_.glif</string>
	<key>uni0A32</key>
	<string>uni0A32_.glif</string>
	<key>uni0A33</key>
	<string>uni0A33_.glif</string>
	<key>uni0A35</key>
	<string>uni0A35_.glif</string>
	<key>uni0A36</key>
	<string>uni0A36_.glif</string>
	<key>uni0A38</key>
	<string>uni0A38_.glif</string>
	<key>uni0A39</key>
	<string>uni0A39_.glif</string>
	<key>uni0A3C</key>
	<string>uni0A3C_.glif</string>
	<key>uni0A3C.001</key>
	<string>uni0A3C_.001.glif</string>
	<key>uni0A3E</key>
	<string>uni0A3E_.glif</string>
	<key>uni0A3F</key>
	<string>uni0A3F_.glif</string>
	<key>uni0A3F.001</key>
	<string>uni0A3F_.001.glif</string>
	<key>uni0A3F.002</key>
	<string>uni0A3F_.002.glif</string>
	<key>uni0A40</key>
	<string>uni0A40_.glif</string>
	<key>uni0A40.001</key>
	<string>uni0A40_.001.glif</string>
	<key>uni0A40.002</key>
	<string>uni0A40_.002.glif</string>
	<key>uni0A41</key>
	<string>uni0A41_.glif</string>
	<key>uni0A42</key>
	<string>uni0A42_.glif</string>
	<key>uni0A47</key>
	<string>uni0A47_.glif</string>
	<key>uni0A47.001</key>
	<string>uni0A47_.001.glif</string>
	<key>uni0A47.002</key>
	<string>uni0A47_.002.glif</string>
	<key>uni0A47.003</key>
	<string>uni0A47_.003.glif</string>
	<key>uni0A47.004</key>
	<string>uni0A47_.004.glif</string>
	<key>uni0A48</key>
	<string>uni0A48_.glif</string>
	<key>uni0A48.001</key>
	<string>uni0A48_.001.glif</string>
	<key>uni0A48.002</key>
	<string>uni0A48_.002.glif</string>
	<key>uni0A48.003</key>
	<string>uni0A48_.003.glif</string>
	<key>uni0A48.004</key>
	<string>uni0A48_.004.glif</string>
	<key>uni0A4B</key>
	<string>uni0A4B_.glif</string>
	<key>uni0A4B.001</key>
	<string>uni0A4B_.001.glif</string>
	<key>uni0A4B.002</key>
	<string>uni0A4B_.002.glif</string>
	<key>uni0A4C</key>
	<string>uni0A4C_.glif</string>
	<key>uni0A4D</key>
	<string>uni0A4D_.glif</string>
	<key>uni0A51</key>
	<string>uni0A51_.glif</string>
	<key>uni0A59</key>
	<string>uni0A59_.glif</string>
	<key>uni0A5A</key>
	<string>uni0A5A_.glif</string>
	<key>uni0A5B</key>
	<string>uni0A5B_.glif</string>
	<key>uni0A5C</key>
	<string>uni0A5C_.glif</string>
	<key>uni0A5E</key>
	<string>uni0A5E_.glif</string>
	<key>uni0A66</key>
	<string>uni0A66_.glif</string>
	<key>uni0A67</key>
	<string>uni0A67_.glif</string>
	<key>uni0A68</key>
	<string>uni0A68_.glif</string>
	<key>uni0A69</key>
	<string>uni0A69_.glif</string>
	<key>uni0A6A</key>
	<string>uni0A6A_.glif</string>
	<key>uni0A6A.001</key>
	<string>uni0A6A_.001.glif</string>
	<key>uni0A6B</key>
	<string>uni0A6B_.glif</string>
	<key>uni0A6C</key>
	<string>uni0A6C_.glif</string>
	<key>uni0A6D</key>
	<string>uni0A6D_.glif</string>
	<key>uni0A6E</key>
	<string>uni0A6E_.glif</string>
	<key>uni0A6F</key>
	<string>uni0A6F_.glif</string>
	<key>uni0A70</key>
	<string>uni0A70_.glif</string>
	<key>uni0A70.001</key>
	<string>uni0A70_.001.glif</string>
	<key>uni0A70.002</key>
	<string>uni0A70_.002.glif</string>
	<key>uni0A70.011</key>
	<string>uni0A70_.011.glif</string>
	<key>uni0A71</key>
	<string>uni0A71_.glif</string>
	<key>uni0A72</key>
	<string>uni0A72_.glif</string>
	<key>uni0A73</key>
	<string>uni0A73_.glif</string>
	<key>uni0A74</key>
	<string>uni0A74_.glif</string>
	<key>uni25CC</key>
	<string>uni25CC_.glif</string>
	<key>uni25CC.001</key>
	<string>uni25CC_.001.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
